# Data Cleaning

## Handling Missing Values

In [32]:
# install packages
!pip install ucimlrepo -q

# modules
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np

# fetch dataset
heart_disease = fetch_ucirepo(id=45)

# data (as pandas dataframes)
X = heart_disease.data.features
y = heart_disease.data.targets

# set seed for reproducibility
np.random.seed(0)

# look at the first five rows of the data
print(X.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   1       145   233    1        2      150      0      2.3      3
1   67    1   4       160   286    0        2      108      1      1.5      2
2   67    1   4       120   229    0        2      129      1      2.6      2
3   37    1   3       130   250    0        0      187      0      3.5      3
4   41    0   2       130   204    0        2      172      0      1.4      1

    ca  thal
0  0.0   6.0
1  3.0   3.0
2  2.0   7.0
3  0.0   3.0
4  0.0   3.0

In [17]:
np.product(X.shape)

3939

In [28]:
# get the number of missing data points per column
missing_values_count = X.isnull().sum()
print(missing_values_count)

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
dtype: int64

In [27]:
total_missing = missing_values_count.sum()
print(total_missing)

6